:root {
  --font-family-main: 'Montserrat', sans-serif;
  --font-size: 16px;
  --font-line-height: 24px;
  --font: var(--font-size) / var(--font-line-height) var(--font-family-main);
  --primary-color: #000;
  --text-color: var(--primary-color);
  --contrast-text-color: #fff;
}
