:root {
  --font-family-main: 'Montserrat', sans-serif;
  --font-size: 16px;
  --font-line-height: 24px;
  --font: var(--font-size) / var(--font-line-height) var(--font-family-main);
  --app-background-color: #fff;
  --primary-color: #000;
  --text-color: var(--primary-color);
  --contrast-text-color: #fff;
  --input-wrapper-border-color: #dadada;
  --input-placeholder-color: #8391a1;
  --input-wrapper-left-right-padding: 16px;
  --input-wrapper-top-bottom-padding: 8px;
  --input-label-left-right-padding: 4px;
  --helper-text-left-padding: 8px;
  --text-field-gap: 4px;
  --input-wrapper-height: 50px;
  --input-wrapper-border-radius: 8px;
  --error-color: #f00;
  --input-placeholder-error-color: #f00;
}
